body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#previous-calculation {
    color: darkgray;
}

#calculation-container span {
    padding-right: 10px;
}
#calculation-container {
    display: flex;
    height: 80px;
    width: 400px;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    background-color: black;
    color: white;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    width: 400px;
    height: 600px;
    border-radius: 15px;
    overflow: hidden;
    padding: 5px;
    background-color: black;
}

#button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 3;
}

.digit#zero {
    flex-basis: 190px;
}

#button-container button {
    flex: 1 1 90px;
    font-size: 36px;
}

.option {
    background-color: darkgray;
    color: white;
}

.function,
#equal {
    background-color: orange;
    color: white;
}

.digit,
#decimal {
    background-color: grey;
    color: white;
}

#current-calculation {
    font-size: 36px;
}





